<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Добро пожаловать на Angar.kh.ua, <%= @user.first_name %>
    </h1>
    <p>
      Вы успешно зарегестрировались на нашем сайте Angar.kh.ua
      Ваш логин: <%= @user.email %>.<br>
      Ваш пароль: <%= @password %>.<br>
    </p>
    <p>
      Для перехода на сайт, пройдите по этой ссылке: <%= @url %>.
    </p>
    <p>
      Спасибо что присоидинились к нам и хорошего дня!
    </p>
  </body>
</html>
