.product-cards.card
  .card-body
    .row
      .col-auto.align-self-center.product_label_photo
        - @product.product_photos.main.each do |photo|
          = image_tag(photo.image.url, class: "mini_allAboutProductPhoto")
      .col-8.products-cols
        = @product.product_properties.product_type.value.to_s
        = @product.name
