<style media="screen">
  .text-on-img {
    position: absolute;
    color: white;
    width: 100%;
    top: 165px;
  }
</style>

<% content_for :head do %>
  <title>Результаты поиска по запросу <%= params[:query]%> | Angar.kh.ua</title>
<% end %>

<h3>Результаты поиска по запросу <em><%= params[:query]%></em></h3>

<div id="products_container">
  <% if @products.nil? %>
    <%= render "patrials/products" %>
  <% else %>
    Поиск не дал результат
  <% end %>
</div>
