<%= stylesheet_link_tag 'admin/category.css' %>

<h1>Категории</h1>

<div class="row">
  <div class="col-10">
    <div class="row">
      <% categories.order(:id).each do |category| %>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card text-center">
            <% if category.image? %>
              <%= link_to image_tag(category.image.url, alt: category.name, class: "img"), edit_admin_category_path(category) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-2 text-right">
    <%= link_to '+ Довавить категорию', new_admin_category_path %>
  </div>
</div>
