.product_img {
  margin-top: 1%;
  max-width: 97%;
  height: 180px;
  object-fit: contain;
}

.products-list-card-text {
  font-size: 1.5rem;
}

.card-title {
  margin-bottom: 0;
  height: 3rem;
}

.products-list-card-body,
.row.products-list-buttons  {
  margin: 0;
}

.col-6.products-list-buttons {
  max-width: calc(50% - .25rem);
}

.col-9.products-list-buttons {
  max-width: calc(75% - .25rem);
}

.col-3.products-list-buttons {
  max-width: calc(25% - .25rem);
}

.btn.btn-danger {
  color: yellow;
}

.btn.products-list-buttons {
  font-size: .92rem;
  padding: .375rem .25rem;
}

.products-list-buttons.first-row {
  margin-bottom: .5rem;
}

/* similar_product */
.similar_product_img {
  margin: 0 auto;
  margin-top: 1%;
}

.similar_products-list-card-body {
  margin: 0;
  padding: .5rem 1.25rem;
}
