<h1><%= @category.name %></h1>

<select id="product_filter_order" class="form-control" style="margin-bottom: 10px;">
  <option value="views asc">  по популярности </option>
  <option value="price asc">  от дешевых к дорогим </option>
  <option value="price desc">  от дорогих к дешевым </option>
</select>

<div id="products_container">
  <%= render "patrials/products" %>
</div>
