<style media="screen">
  .c-image {
    height: 240px;
  }

  .img {
    width: 180px;
    height: 200px;
  }
</style>

<% content_for :head do %>
  <title>Angar.kh.ua</title>
<% end %>

<% if carousel_images %>
  <%= render "patrials/carousel" %>
<% end %>

<div id="categories" class="">
  <h2>Категории:</h2>
  <div class="row">
    <% categories.order(:id).each do |category| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card text-center">
          <% if category.image? %>
            <%= link_to image_tag(category.image.url, alt: category.name, class: "img"), category %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h1 style="font-size: 1.78rem;">Angar.kh.ua - Компьютерная техника для Вас в наличии и под заказ!!!</h1>
<p>text</p>
